{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    {{ form_start(newTicketForm) }}
        {{ form_row(newTicketForm.title) }}
        {{ form_row(newTicketForm.libelle) }}
        {{ form_row(newTicketForm.idCategory) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(newTicketForm) }}
{% endblock %}