{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!
{% endblock %}

{% block body %}
	{{ ticket.title }} ({{ ticket.idCategory.libelle }}) {% if user.role.id > 0 %} <a href="{{ path('ticket_edit', {slug: ticket.id}) }}">Edit</a> {% endif %}<br/><br/>
	{{ ticket.libelle }}
    
    {% for reply in ticket.replies %}
        <br/><br/> {{ reply.libelle }}
    {% endfor %}
    <br/><br/>
    {% if ((user == ticket.idUser) or (user.role.id > 0)) and (ticket.close == 0) %}
        {{ form_start(newReplyForm) }}
            {{ form_row(newReplyForm.libelle) }}

            <button type="submit" class="btn">Envoyer</button>
        {{ form_end(newReplyForm) }}
    {% endif %}
{% endblock %}
