{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    {{ form_start(newUserForm) }}
        {{ form_row(newUserForm.email) }}
        {{ form_row(newUserForm.password) }}
        {{ form_row(newUserForm.Role) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(newUserForm) }}
{% endblock %}