{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    Tickets :
    
    <ul>
        {% for ticket in allTickets %}
            <li> <a href="{{ path('ticket', {slug: ticket.id}) }}">{{ ticket.title }}</a> ({{ ticket.idCategory.libelle }}) by {{ ticket.idUser.email}} {% if user.role.id > 1 %} {% if ticket.close == 0 %} <a href="{{ path('ticket_close', {slug: ticket.id}) }}">Close</a> {% endif %} {% endif %}</li>
        {% endfor %}
    </ul>

{% endblock %}
